@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@700&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-Very-dark-blue : hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet-accent: hsl(277, 64%, 61%);
}

body{
    Font-size: 15px;
    background-color: var(--color-Very-dark-blue);
    font-family:'Big Shoulders Display', cursive;
}

h1{
    font-size: 2em;
    margin: 2.5rem 0;
    color: #fff;
    font-family: Lexend Deca', sans-serif ;
}
p {
    color: #fff;
    margin-bottom: 2.5rem;
}
li {
    color: #fff;
    line-height: 3;
    padding: 20px;
    text-align: center;
    
}

img {
    width: 400px;
    margin-bottom: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    color: #fff;

}

@media (min-width:45em) {
    body{
        font-size: 15px;
        font-family:'Big Shoulders Display', cursive;
        height: 100vh;
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        
    }
    h1{
        font-size: 2em;
        margin:1.2em;
        text-align:center;
        color: #fff;
        font-family: Lexend Deca', sans-serif ; ;
    }
    p {
        color: #fff;
        margin-bottom: 2.5rem;
    }
    li {
        color: #fff;
        line-height: 3;
        display: inline;
        
    }
    
    img {
        width: 250px;
        margin-bottom: 2.5rem;
    }
    
    .container {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        color: #fff;
        background-color: var(--Dark-desaturated-blue);
        height: 45%;
        margin: 20px 10px;

    
    }
    
}

